/Debug
x64/Debug
/Release
x64/Release
/ipch
/.vs
*.db
*.opendb
*.suo
*.aps
*.sdf
*.opensdf
*.user
*.log
*.obj
*.exe
*.ipdb
*.ebs
*.pch
*.pdb
*.tlog
*.lastbuildstate
*.iobj
*.res
*.idb
*.ilk
*.ipchgit gui
cmake_install.cmake
CMakeFiles
CMakeCache.txt
Makefile
bin
*.dir
Debug
Release
*.vcxproj*
*.user
*.project
*.props
*.dll
*.sln
*.sdf
*.mp4
*.db
*.suo
*.opendb
*.pyc
build/win64/*
*_export.h
Testing
cmake-build-debug
cmake-build-release
.idea